footer{
    background-color: var(--bg-darker-color) !important;
}


header{
    background-color: rgba(42, 42, 42, 0.2);
    backdrop-filter: blur(4px);
}

#bg-video {
    opacity: 8%;
    position: fixed;
    z-index: -5;
    right: 0;
    bottom: 0;
}

#navbar a{
    font-weight: bolder;

    &:hover{
        color: var(--link-color) !important;
        text-decoration: underline !important; 
        
    }
}