
<header class="p-3 opacity-75 fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" id="navbar">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                Carlosneto726.Dev
            </a>

            <div class="ms-auto">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a routerLink="/projects" class="nav-link px-2 text-white">Projects</a></li>
                    <li><a routerLink="/tools" class="nav-link px-2 text-white">Tools</a></li>
                    <li><a routerLink="/contact" class="nav-link px-2 text-white">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<video autoplay muted loop id="bg-video" class="img-fluid">
    <source src="../assets/video/bg.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
<router-outlet></router-outlet>


<footer class="py-2">
    <div class="container d-flex justify-content-between">
        <div>
            Quer entrar em contato? Sinta-se avontade para me enviar um 
            <a href="#" 
            tabindex="0" 
            (click)="copyEmail()" 
            data-bs-container="body" 
            data-bs-toggle="popover" 
            data-bs-placement="top" 
            data-bs-content="E-mail copiado!">E-mail</a> <br> 
            ou me seguir nas redes sociais <img src="../assets/arrow-right.svg" alt="">
        </div>

        <div class="d-flex flex-row">
            <a class="p-2" href="https://github.com/carlosneto726" target="_blank">
                <img src="../assets/github.svg" alt="Github" width="32" height="32">
            </a>
            <a class="p-2" href="https://www.instagram.com/carlosneto726/" target="_blank">
                <img src="../assets/instagram.svg" alt="Instagram" width="32" height="32">
            </a>
            <a class="p-2" href="https://www.linkedin.com/in/carlosneto726/" target="_blank">
                <img src="../assets/linkedin.svg" alt="Linkedin" width="32" height="32">
            </a>
        </div>
    </div>
</footer>


