<div class="container pt-5 mt-5">

    <div class="mx-auto row g-5 pt-5 mt-5 px-5" id="container">
        <div class="mx-auto col-md-5 col-lg-4" id="avatar-container">
            <img class="img-fluid rounded" src="https://avatars.githubusercontent.com/u/85174500" alt="Carlos Henrique Neto" id="avatar">
        </div>
    
        <div class="mx-auto col-md-7 col-lg-8">
            <img class="mt-4 img-fluid" 
            id="typing-svg" 
            src="https://readme-typing-svg.herokuapp.com?font=ubuntu&weight=900&size=16&duration=4000&pause=2000&color=9ECE6A&width=435&lines=Hi,+I'm+Carlos+Henrique+T.+C.+Neto!;Hi,+I'm+Carlos+Henrique++Neto!;Hi,+I'm+Caique!;Hi,+I'm+Ka+Neto!" 
            alt="Typing SVG"/>
            <p class="fs-5">
                Welcome to my little place on the internet, here I showcase my <a href="">projects</a>, <a href="">tools</a>, and some interests. I am a curious person, active, self-taught, and have been in love with technology since I was born.
            </p>
        </div>
    </div>

    <div class="mx-5 my-5 pt-5">
        <div class="rounded pb-2" id="terminal" tabindex="0" (keypress)="makeCurl()">
            
            <div class="d-flex justify-content-between rounded-top" id="header-terminal">
                <div class="ms-1"><span class="badge bg-primary rounded-pill me-1">>_</span>Terminal</div>
                <div>Press enter or click to know more about me</div>
                <div class="pe-1 mb-1">
                    <span class="badge bg-primary rounded-pill">--</span>
                    <span class="badge bg-primary rounded-pill">[]</span>
                    <span class="badge bg-primary rounded-pill">X</span>
                </div>
            </div>
        
            <div class="m-3">
                <p id="curl" (click)="makeCurl()"><span class="base-cursor">></span> curl https://carlosneto726.dev/v1/myinfo<span class="cursor" id="cursor">_</span></p>
                <p id="fetching" hidden>Fetching <span id="fetch-cursor"></span></p>
                <pre [innerHTML]="codeBlock" id="codeBlock" hidden></pre>
                <p id="final-cursor" hidden><span class="base-cursor">></span><span class="cursor">_</span></p>
            </div>
        </div>
    </div>
</div>

