<div class="container pt-5 mt-5">




    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Built with</th>
                <th scope="col">Topics</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (repo of allRepos; track repo) {
                <tr>
                    <th>
                        {{ repo.name }}
                        {{ repo.description }}
                    </th>
                    <td>{{ repo.languages }}</td>
                    <td>{{ repo.topics }}</td>
                    <td>{{ repo.homepage }}</td>
                </tr>
            }
        </tbody>
    </table>

</div>