<div class="container py-5 my-5">

    <app-project></app-project>

    <div class="mx-auto -container">
        <div class="py-5 my-5">
            <h1>Repositories</h1>
            <h6>All my public repositories</h6>

            <a href="https://github.com/carlosneto726" target="_blank"
                class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
                <img class="bi me-2" src="../../../assets/github.svg" width="20" height="20">
                View my profile
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Built with</th>
                    <th scope="col">Topics</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @for (repo of allRepos; track repo) {
                <tr>

                    <td class="d-flex name-row" scope="row">
                        <div class="pb-3 mb-0 w-100">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong class="text-gray-dark">{{ repo.name }}</strong>
                                    @if (repo.homepage) {
                                    <a href="{{repo.homepage}}" target="_blank">
                                        <img class="ms-1 mb-1" src="../../../assets/box-arrow-up-right.svg"
                                            alt="homepage">
                                    </a>
                                    }
                                    <a href="{{repo.html_url}}" target="_blank">
                                        <img class="ms-1 mb-1" src="../../../assets/github.svg" alt="github repository">
                                    </a>

                                </div>
                            </div>
                            <span class="d-block small lh-sm">{{ repo.description }}</span>
                        </div>
                    </td>

                    <td class="badge-row">
                        @for (lang of repo.languages; track lang) {
                        <small class="badge bg-success-subtle text-success-emphasis rounded-pill mx-1">
                            {{ lang }}
                        </small>
                        }
                    </td>
                    <td class="badge-row">
                        @for (topic of repo.topics; track topic) {
                        <small class="badge bg-info-subtle text-info-emphasis rounded-pill mx-1">
                            {{ topic }}
                        </small>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>