.table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}
  
tr:nth-child(even) {
    background-color: var(--bg-darker-color);
}

.badge-row{
    max-width: 280px;
}

.name-row{
    max-width: 400px;
}

.-container{
    width: fit-content;
}

.project-img{
    object-fit: cover;
    max-width: 400px;   
}

.project-card{
    background-color: var(--bg-darker-color);
    max-width: 990px;
}

.fit-content{
    width: fit-content;
}